<div><form>
  <fieldset>
    <legend></legend>
    <h4>Elige un Respuesta</h4>
    <div>
      <button> ❮ </button>
      <button> ❯ </button>
      <br><br>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
    </div>
    <legend></legend>
  </fieldset>
</form></div>
