<body>

      <!-- Contenido central del cuerpo -->
      <div id="container" class="col-xs-12 col-sm-12 col-md-12">

         <!-- <div>
           <h2>Titulo Prueba</h2>
         </div> -->

         <div class="lead text-white">
              <p><%= @question.header %></p>
        </div>

        <% case @question.kind %>
          <% when Question::YES_NO_QUESTION %>
              <%= render partial: "yes_no_question" %>
          <% when Question::VOLUME_QUESTION %>
              <%= render partial: "volume_question" %>
        <% end %>

      </div>

</body>
