<div class "">

  <div class="text-white">
    <h1><%= current_user.name.titleize %> </h1>
  </div>
  <hr>
    <div class="lead text-white">
      Has completado con exito todas las sesiones.
      <br>
      A continuación te presentamos los resultados que obtuviste con esta encuesta y como se compara con tu equipo de trabajo
      <br>
      <br>
    </div>
    <div align="center">
      <img src="<%= @data[:url] %>" class="img-responsive" alt="Responsive image">
    </div>
    <br>
    <div class="panel panel-default" align="center">
      <div class="panel-body panel-height">
        <%= @data[:text].to_s %>
      </div>
    </div>
</div>
