      <div id="container" class="col-xs-12 col-sm-12 col-md-12">

          <div class="row"><!-- el class="ROW" Ayuda a organizar la pagina en filas -->
            <div class="col-xs-12 col-sm-12 col-md-12"><h2>Bienvenido(a), <%= current_user.name.titleize %> </h2></div>
          </div>

          <% if @is_able %>
            <fieldset>
                <legend></legend>
                <div class="row">
                  <p> Este es un texto que todavia no se que voy a poner, pero sera algo interesante en un futuro :) </p>
                </div>
            </fieldset>

            <div class="row"><!-- el class="ROW" Ayuda a organizar la pagina en filas -->
              <div class="col-xs-12 col-sm-12 col-md-12">Progreso</div>
              <div class="col-xs-12 col-sm-12 col-md-12"><progress value="0" max="100" id="progreso" style="float:center;background-color:black;"></progress></div>
            </div>

            <%= link_to("Continuar", question_path(@question), class: "btn btn-primary") %>
            <!-- <%= link_to("Continuar", question_path(@question), class: "btn btn-primary") %> <!-- TODO change path to game --> -->

          <% else %>
            <fieldset>
                <legend></legend>
                <div class="row">
                  <p> Aún no tienes habilitada ninguna sección, espera que se complete el tiempo restante </p>
                </div>
            </fieldset>

            <div class="row"><!-- el class="ROW" Ayuda a organizar la pagina en filas -->
              <div class="col-xs-12 col-sm-12 col-md-12">Progreso</div>
              <div class="col-xs-12 col-sm-12 col-md-12"><progress value="0" max="100" id="progreso" style="float:center;background-color:black;"></progress></div>
            </div>

            <%= "Continuar" %> <!-- TODO put Continuar as a button -->

          <% end %>

      </div>
