<h1> Hola, <%= current_user.name.titleize %> </h1>
<p> este es un texto que todavia no se que voy a poner, pero sera algo interesante en un futuro :) </p>

<%= link_to("Continuar", question_path(@question), class: "btn btn-primary") %> <!-- TODO change path to game -->
