/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header{	background-color: none; }

 body{

       font-family: inherit;
       font-size: 20px;
       color:white;
       background-color: #0fa6c4;
 }

 footer{	background-color: none; }

 div{ padding: 5px; text-align: center; }

 input{ border-radius: 5px; color: black;}

 a{ color:white; font-size: 20px;}
 a:hover{ color: white; font-size: 20px;}

 p{ font-size: 16px; }

 h2{ font-size: 40px; color:white; }

 u{ font-size: 15px; color:white; }

 select{ color: black; }

 /* CLASS */
 .label{
   display:inline-block;
   font-size: 20px;
   width: 150px;
 }

 /* ID */
 #boton{ border-radius: 50px; background-color: #B2D827; color: black; }
 #boton:hover{ background-color: #F0A8A8; color: black; }
