<!DOCTYPE html>
<html>
  <head>
    <title>Likeu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="mbd">
		<center>
			<div id="window-container">
        <%= yield %>
      </div>
    </center>
  </body>
</html>
