<!DOCTYPE html>
<html>
  <head>
    <title>Likeu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="mbd">
      <header>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="index.html"><button class="btn btn-default" id="btnContinuar" style="float:left;">Finalizar sesión</button></a>
            <!-- TODO finalizar sesion -->
          </div>
        </div>
      </header>
			<div class="container">
        <%= yield %>
      </div>
  </body>
</html>
